@model Baby.Models.Need

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>


@using ( Html.BeginForm( "Create", "Needs", FormMethod.Post, new { enctype = "multipart/form-data" } ) )
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor( model => model.OrganizationId )
	@*<input type="hidden" id="OrganizationId" name="OrganizationId" value="@ViewBag.Organization.OrganizationId" /> *@
	@Html.HiddenFor( model => model.Image1Id, new { @value = "" } );
	@Html.HiddenFor( model => model.Image2Id, new { @value = "" } );

	<div class="form-horizontal">
		<h4>Need</h4>
		<hr />
		@Html.ValidationSummary( true, "", new { @class = "text-danger" } )
		<div class="form-group">
			@Html.LabelFor( model => model.Caption, htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.EditorFor( model => model.Caption, new { htmlAttributes = new { @class = "form-control" } } )
				@Html.ValidationMessageFor( model => model.Caption, "", new { @class = "text-danger" } )
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.Story, htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.EditorFor( model => model.Story, new { htmlAttributes = new { @class = "form-control" } } )
				@Html.ValidationMessageFor( model => model.Story, "", new { @class = "text-danger" } )
			</div>
		</div>

		<div class="form-group">
			@Html.Label( "Image 1" , htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				<input type="file" name="Image1" id="Image1" />
			</div>
		</div>

		<div class="form-group">
			@Html.Label( "Image 2", htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				<input type="file" name="Image2" id="Image2" />
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.IsUrgent, htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				<div class="checkbox">
					@Html.EditorFor( model => model.IsUrgent )
					@Html.ValidationMessageFor( model => model.IsUrgent, "", new { @class = "text-danger" } )
				</div>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.EditorFor( model => model.PublishDate, new { htmlAttributes = new { @class = "form-control" } } )
				@Html.ValidationMessageFor( model => model.PublishDate, "", new { @class = "text-danger" } )
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.EditorFor( model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } } )
				@Html.ValidationMessageFor( model => model.EndDate, "", new { @class = "text-danger" } )
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.AmountNeeded, htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.EditorFor( model => model.AmountNeeded, new { htmlAttributes = new { @class = "form-control" } } )
				@Html.ValidationMessageFor( model => model.AmountNeeded, "", new { @class = "text-danger" } )
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.EditorFor( model => model.Tags, new { htmlAttributes = new { @class = "form-control" } } )
				@Html.ValidationMessageFor( model => model.Tags, "", new { @class = "text-danger" } )
			</div>
		</div>
	
			<div class="form-group">
			@Html.LabelFor( model => model.NeedTypeId, "Need Type", htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.DropDownList( "NeedTypeId", null, htmlAttributes: new { @class = "form-control" } )
				@Html.ValidationMessageFor( model => model.NeedTypeId, "", new { @class = "text-danger" } )
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.RegionId, "Region", htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.DropDownList( "RegionId", null, htmlAttributes: new { @class = "form-control" } )
				@Html.ValidationMessageFor( model => model.RegionId, "", new { @class = "text-danger" } )
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.CountryId, "Country", htmlAttributes: new { @class = "control-label col-md-2" } )
			<div class="col-md-10">
				@Html.DropDownList( "CountryId", null, htmlAttributes: new { @class = "form-control" } )
				@Html.ValidationMessageFor( model => model.CountryId, "", new { @class = "text-danger" } )
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink( "Back to List", "Index" )
</div>

@section Scripts {
	@Scripts.Render( "~/bundles/jqueryval" )
}
