@model Baby.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor( model => model.OrganizationName, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.OrganizationName, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.OrganizationName, "", new { @class = "text-danger" } )
        </div>
    </div>

   <div class="form-group">
        @Html.LabelFor( model => model.OfficialOrganizationId, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.OfficialOrganizationId, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.OfficialOrganizationId, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.Email, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.Email, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.PhoneNumber, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.Surname, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.Surname, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.GivenNames, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.GivenNames, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.GivenNames, "", new { @class = "text-danger" } )
        </div>
    </div>

   <div class="form-group">
        @Html.LabelFor( model => model.TimeZone, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.DropDownListFor( model => model.TimeZone, new SelectList( TimeZoneInfo.GetSystemTimeZones(), "Id", "DisplayName" ), new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.TimeZone, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.StreetAddress1, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.StreetAddress1, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.StreetAddress1, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.StreetAddress2, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.StreetAddress2, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.StreetAddress2, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.District, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.District, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.District, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.City, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.City, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.City, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.StateOrProvince, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.StateOrProvince, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.StateOrProvince, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.PostalCode, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.CountryId, "CountryId", htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.DropDownListFor( model => model.CountryId, (SelectList)ViewBag.CountryList, htmlAttributes: new { @class = "form-control" } )
            @Html.ValidationMessageFor( model => model.CountryId, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( m => m.UserName, new { @class = "col-md-2 control-label" } )
        <div class="col-md-10">
            @Html.TextBoxFor( m => m.UserName, new { @class = "form-control" } )
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor( m => m.Password, new { @class = "col-md-2 control-label" } )
        <div class="col-md-10">
            @Html.PasswordFor( m => m.Password, new { @class = "form-control" } )
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor( m => m.ConfirmPassword, new { @class = "col-md-2 control-label" } )
        <div class="col-md-10">
            @Html.PasswordFor( m => m.ConfirmPassword, new { @class = "form-control" } )
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
