@using System.Web.Mvc
@model Baby.Models.Organization

@{
   ViewBag.Title = "Create";
}

<h2>Create</h2>


@using ( Html.BeginForm() )
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Organization</h4>
    <hr />
    @Html.ValidationSummary( true, "", new { @class = "text-danger" } )
    <div class="form-group">
        @Html.LabelFor( model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.Name, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.Name, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.OfficialOrganizationId, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.OfficialOrganizationId, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.OfficialOrganizationId, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.LargeLogo, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.LargeLogo, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.LargeLogo, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.SmallLogo, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.SmallLogo, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.SmallLogo, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.WeChatCode, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.WeChatCode, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.WeChatCode, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.TimeZone, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.DropDownListFor( model => model.TimeZone, new SelectList( TimeZoneInfo.GetSystemTimeZones(), "Id", "DisplayName" ), new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.TimeZone, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.ApplicationSubmissionDate, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.ApplicationSubmissionDate, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.ApplicationSubmissionDate, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.ApplicationApproveRejectDate, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.ApplicationApproveRejectDate, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.ApplicationApproveRejectDate, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor( model => model.RejectionReason, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.RejectionReason, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.RejectionReason, "", new { @class = "text-danger" } )
        </div>
    </div>
@{ /*
    <div class="form-group">
        @//Html.LabelFor( model => model.ProcessedById, "ProcessedById", htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @//Html.DropDownList( "ProcessedById", null, htmlAttributes: new { @class = "form-control" } )
            @//Html.ValidationMessageFor( model => model.ProcessedById, "", new { @class = "text-danger" } )
        </div>
    </div>
 */  }
    <div class="form-group">
        @Html.LabelFor( model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" } )
        <div class="col-md-10">
            @Html.EditorFor( model => model.Status, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor( model => model.Status, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink( "Back to List", "Index" )
</div>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
